.disappear {
    animation-name: disappear;
    animation-duration: 1s;
  }
  
  .appear {
    animation-name: appear;
    animation-duration: 1s;
  }
  
  @keyframes appear {
    from {
      transform: translate(-500px, 0);
      opacity: 0;
    }
    to {
      transform: translate(0px, 0);
      opacity: 100%;
    }
  }
  
  @keyframes disappear {
    from {
      transform: translate(0px, 0);
      opacity: 100%;
    }
    to {
      transform: translate(500px, 0);
      opacity: 0;
    }
  }