#Bottombar{
    background: #111111;
    height: 20vh;
    color:white;
    text-decoration: none;
    bottom:0;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
#Bottombar > p{
    text-align: center;
    justify-self: left;
    padding-left: 2vw;
}
#Bottombar-legal{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color:white;
    gap: 5%;
}
#Bottombar-legal > a{
    color:inherit;
    padding:5%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
}
#Bottombar-legal > a:hover{
    text-decoration: underline;
}
#Bottombar-links{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 2.5vw;
    width: 100%;
    max-width: 350px;

}
#Bottombar-links > a{
    width: fit-content;
}
#Bottombar-links > a > img{
    object-fit: contain;
}
#Bottombar-links > a > svg, #Bottombar-links > a > img{
    color: inherit;
    text-decoration: inherit;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
#Bottombar-links > a > img{
    height: 4vh;
}
#Bottombar-links > a:hover{
    text-decoration: underline;
}


@media (max-width:900px) {
    #Bottombar{
        display: block;
        height: fit-content;
        padding: 2vw;
    }
    #Bottombar > p{
        text-align: center;
        margin-bottom: 2vh;
        width: 100%;
        padding-left: 0;

    }
    #Bottombar-legal{
        text-align: center;
        margin: auto;
        justify-items: center;
        width: 80vw;
    }
    #Bottombar-links{
        display: grid;
        grid-template-columns: 0.fr 0.fr 1fr;
        margin: auto;
        margin-top: 2vh;
        justify-content: center;
        max-width: 80vw;
    }
    #Bottombar-links > a:nth-child(1), #Bottombar-links > a:nth-child(2){
        justify-self: left;
        padding-left: 8vw;
    }
}