@keyframes loading {
    0%{background: grey;}
    50%{background: darkgrey;}
    100%{background: grey;}
}


#Community{
    min-height: 150vh;
}
#Community-title{
    text-align: center;
    font-size: 5vw;
}
#Community-title > .Logo{
    font-size: inherit;
}
.Community-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5%;
    padding: 3%;
    padding-top: 1%;
}
.Community-review-manage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}
.Community-review-manage > button:nth-child(2){
    justify-self: right;
    background: none;
    border: none;
}
.Community-review-manage > * {
    cursor: pointer;
    width: fit-content;
}
.Community-review-manage > * > img{
    height: 150%;
}

#Community-Categories-Container{
    opacity: 1;
    transition: 1s;
    padding-bottom: 5vh;
    background: var(--grey-light);
}
.Community-category{
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}
.Community-category > h2{
    width: fit-content;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    padding:0.75%;
    color:var(--grey-lighter);
    background:var(--grey-dark);
}
.Community-review{
    width: 100%;
    height: 40vh;
    background: var(--grey-dark);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 1%;
}
.Community-review > ul{
    color: var(--grey-lighter);
    height: 10%;
}
.Community-review > .TeacherStar{
    /* width: 60%;
    justify-content: left; */
    margin: auto;
    height: 10%;
}
.Community-review-loading{
    background: grey;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.Community-review-content{
    background:var(--grey-light);
    margin: 1%;
    height: 70%;
    border-radius: 5px;
}
.Community-review-content > p{
    height: 50%;
}
.Community-category-review-relatable > img{
    transition: 0.5s;
} 
#Community-input-form{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    transition: 0.5s;
    width: 50vw;
    min-width: 300px;
    margin-bottom: 5vh;
}
#Community-input{
    font-weight: bold;
    font-size: 1.6rem;
    width: 100%;
    aspect-ratio: 10/1;
    border-radius: 10px;
    border: none;
    color: var(--grey-dark);
    margin: auto;
    padding: 5px;
}
#Community-input::placeholder{
    color:var(--grey-lighter);
}
.Community-category-review-relatable{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--grey-lighter);
    height: 7vw;
    width: 80%;
    margin: auto;
}
.Community-category-review-relatable > img{
    margin: 5%;
    height: 40%;
}
.Community-category-review-relatable > img:hover{
    cursor: pointer;
}
.Community-category-review-relatable > div{
    width: 60%;
    font-weight: bold;
    height: 60%;
}
.Community-category-review-relatable-count{
    /* width: 0%;*/
    margin: 0;
    text-align: center;
}
progress{
    width: 100%;
    height: 6.5px;
    grid-column: 1 / span 2;
    border-radius: 0;
}
progress::-webkit-progress-bar{
    background: var(--black);
}
progress::-webkit-progress-value {
    background: var(--grey-lighter);
}
.Community-category-review-relatable > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Community-category-review-relatable > div > div > p:last-child{
    justify-self: right;
}

#Community-input-results{
    display: grid;
    grid-template-columns: 1fr;
    background: var(--grey-light);
    min-width: 200px;
    max-width: 500px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--white);
}
#Community-input-results > span{
    font-size: 1.3rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 0.7fr 1fr;
}
#Community-input-results > span:hover{
    background: var(--grey-dark);
    cursor: pointer;
}



@media (max-width:900px) {
    .Community-reviews{
        grid-template-columns: 1fr;
        height: 130vh;
    }
    .Community-category-review-relatable > img{
        height: 100%;
    }
    #Community-input-results > span > .TeacherStar > img {
        width: 30px;
    }
}