@keyframes loading {
    0%{background: grey;}
    50%{background: darkgrey;}
    100%{background: grey;}
}


#Community{
    min-height: 150vh;
}
#Community-title{
    text-align: center;
    font-size: 5vw;
    transition: 0.5s;
}
#Community-title > .Logo{
    font-size: inherit;
}
.Community-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5%;
    padding: 3%;
    padding-top: 1%;
}
.Community-review-manage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}
.Community-review-manage > button:nth-child(2){
    justify-self: right;
    background: none;
    border: none;
}
.Community-review-manage > * {
    cursor: pointer;
    width: fit-content;
}
.Community-review-manage > * > img{
    height: 150%;
}

#Community-Categories-Container{
    opacity: 1;
    transition: 1s;
    padding-bottom: 5vh;
    background: var(--grey-light);
}
.Community-category{
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}
.Community-category > h2{
    width: fit-content;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    padding:0.75%;
    color:var(--grey-lighter);
    background:var(--grey-dark);
}
.Community-review{
    width: 100%;
    aspect-ratio: 3/2.5;
    max-height: 400px;
    background: var(--grey-dark);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 1%;
}
.Community-review{
    cursor: grab;
}
.Community-review > ul{
    color: var(--grey-lighter);
    text-overflow: ellipsis;
}
.Community-review > .TeacherStar{
    /* width: 60%;
    justify-content: left; */
    margin: auto;
    height: 10%;
}
.Community-review-loading{
    background: grey;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.Community-review-content{
    background:var(--grey-light);
    margin: 1%;
    height: 75%;
    border-radius: 5px;
    word-break: break-all;
}
.Community-review-content > p{
    height: 58%;
    overflow-y: auto;
    font-size: 1.67rem;
    margin: 0;
}
.Community-review-content > p::-webkit-scrollbar-track{
    margin: 0 !important;
}
.Community-category-review-relatable > img{
    transition: 0.5s;
    width: 10%;
} 
@media screen and (min-width:900px) {
    .Community-category-review-relatable > #Like:hover{
        transform:rotate(-5deg) translate(0px, -1px);
    }
    .Community-category-review-relatable > #Like:active{
        transform:rotate(-10deg) translate(0px, -2px);
    }
    .Community-category-review-relatable > #Dislike:hover{
        transform:rotate(-5deg) translate(0px, 1px);
    }
    .Community-category-review-relatable > #Dislike:active{
        transform:rotate(-10deg) translate(0px, 2px);
    }
}

#Community-input-form{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    transition: 0.5s;
    width: 50vw;
    min-width: 300px;
    margin-bottom: 5vh;
}
#Community-input{
    font-weight: bold;
    font-size: 2.3rem;
    padding: 5px;
    text-indent: 3%;
    width: 100%;
    aspect-ratio: 10/1;
    border-radius: 10px;
    border: none;
    color: var(--grey-dark);
    margin: auto;
}
#Community-input::placeholder{
    color:var(--grey-lighter);
}
.Community-category-review-relatable{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--grey-lighter);
    height: 7vw;
    width: 80%;
    margin: auto;
}
.Community-category-review-relatable > img{
    margin: 5%;
    height: 40%;
}
.Community-category-review-relatable > img:hover{
    cursor: pointer;
}
.Community-category-review-relatable > div{
    width: 60%;
    font-weight: bold;
    margin-top: 1.3rem;
}
.Community-category-review-relatable-count{
    margin: 0;
    height: fit-content;
    text-align: center;
    text-wrap:nowrap;
}
progress{
    width: 100%;
    height: 6.5px;
    grid-column: 1 / span 2;
    border-radius: 0;
}
progress::-webkit-progress-bar{
    background: var(--black);
}
progress::-webkit-progress-value {
    background: var(--grey-lighter);
}
.Community-category-review-relatable > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.Community-category-review-relatable > div > div > p:last-child{
    justify-self: right;
}

#Community-input-results{
    display: grid;
    grid-template-columns: 1fr;
    background: var(--grey-light);
    min-width: 200px;
    width: 80%;
    /* max-width: 500px; */
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--white);
}
#Community-input-results > span{
    font-size: 1.6rem;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    grid-template-columns: 0.7fr 1fr;
}
#Community-input-results > span:hover{
    background: var(--grey-dark);
    cursor: pointer;
}

#Community-TeacherContainer > div{
    display: flex;
}
#Community-TeacherName{
    color:grey;
    font-size: 3rem;
    font-weight: 560;
}
#Community-TeacherName > div{
    font-size: 2.5rem;
}
#Community-TeacherName > div:before {
    content:"• ";
}
#Community-TeacherName > span{
    color: var(--white);
    font-size: 1.5rem;
    margin-left: 4.5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#Community-TeacherContainer{
    padding-bottom: 6vh;
}
#Community-TeacherContainer > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#Community-TeacherContainer > div > div:nth-child(2) > div{
    background: var(--grey-dark);
    width: fit-content;
    min-width: 35%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    gap: 3%;
    padding: 2%;
}
#Community-TeacherContainer > div > div:nth-child(2) > span {
    background: var(--black);
    display: table;
    margin: 0 auto;
    border-radius: 7.5px;
    padding: 2%;
    margin-top: 1vh;
}
#Community-TeacherContainer > a{
    box-shadow: 0 0 20px 0px black;
    text-decoration: none;
    color:white;
    padding: 2%;
    border-radius: 15px;
    display: table;
    margin: 0 auto;
    margin-top: 5vh;
    transition: 0.5s;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
#Community-TeacherContainer > a:hover{
    box-shadow: 0 0 40px 0px black;
}

@media (max-width:1200px) {
    #Community-title{
        font-size: 1.7rem;
    }
    #Community-input{
        font-size: 1.5rem;
    }
    .Community-category-review-relatable > img{
        height: 100%;
    }
    .Community-category-review-relatable {
        width: 100%;
    }
    #Community-input-results > span > .TeacherStar > img {
        width: 30px;
    }
    #Community-TeacherContainer > div{
        display: block;
    }
    #Community-TeacherName{
        text-align: center;
        margin-bottom: 5vh;
    }
    #Community-TeacherContainer > a {
        width: 80%;
    }
    .Community-review-content > p{
        font-size: 1rem;
    }
}