.embla {
    max-width:100vw;
    margin: auto;
    --slide-spacing:0.7vw;
    --slide-size: 50%;
    --slide-height: fit-content;
    --slide-width: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__img {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: var(--slide-width);
    object-fit: contain;
  }

@media (max-width:900px){
  #Home-container > .embla{
    --slide-size:90%;
  }
}