.FormCheckboxInput-Container{
    display: grid;
    align-items: center;
    grid-template-columns:5fr 8fr 1fr ;
    background: var(--grey-light);
    border-radius: 5px;
    color: var(--grey-lighter);
    padding:2%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    min-height: 70px;
}
.FormCheckboxInput-Container > select, .FormCheckboxInput-Container > select > option {
    color:var(--black);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background: var(--grey-lighter);
    border-radius: 5px;
}

