@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --background: #252525;
    --secondary-background:#111111;
    --text: #FFFFFF;
    --gradient-blue:#015FDF;
    --gradient-red:#B52639;
    --high-gradient-blue:#006aff;
    --high-gradient-red:#ff0022;
    --purple:#443366;
    --black:#171717;
    --grey-dark:#212121;
    --grey-light:#2F2F2F;
    --grey-lighter:#ABABAB;
    --white:#ECECEC;
    --lite-white:rgb(187, 187, 187);
}
* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
input:focus, textarea:focus, select:focus{
    outline:0;
}
button:hover{ 
    cursor:pointer;
}
@keyframes appear {
    from{
        transform: translate(-500px,0);
        opacity: 0;
    }
    to{
        transform: translate(0px,0);
        opacity: 100%;
    }
}

@keyframes disappear {
    from{
        transform: translate(0px,0);
        opacity: 100%;
    }

    to{
        transform: translate(500px,0);
        opacity: 0;
    }
}
@keyframes glideDown {
    from{
        transform: translateY(-10vh);
    }

    to{
        transform: translateY(0px);
    }
}
html{
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: 0; /* Adjust this value to offset the scroll position */
}
body{
    background: #252525;
    font-family: "-apple-system";
    font-display: swap;
    margin: 0;
    color:white;
}
svg{
    width: 100%;
    height:auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.disappear{
    animation-name: disappear;
    animation-duration: 1s;
}
.appear{
    animation-name: appear;
    animation-duration: 1s;
}
.glideDown{
    animation-name:glideDown;
    animation-duration: 0.5s;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    border-radius: 15px;
    background: grey;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: white;
}