

@keyframes appearFromTop {
    from{transform: translateY(-30vh);}
    to{transform: translateY(0px);}
}
@keyframes disappearToTop {
    from{transform: translateY(0px);}
    to{transform: translateY(-30vh);}
}
#Navbar{
    display: grid;
    align-items: center;
    top:0vh;
    z-index: 999;
    background:var(--grey-dark);
    position: sticky;
    transition: 0.5s;
    height: 15vh;
    overflow:visible;
}
#Navbar > span{
    min-width:280px;
}
#Navbar > a, #Navbar > div{
    border-radius: 10px;
    padding:10px;
    text-decoration: none;
    color:white;
    margin-right:1vw;
    transition: background-color 0.5s, transform 1.3s;
    text-align: center;
    animation-name: appearFromTop;
    animation-duration: 1.3s;
    position: relative;
    width: fit-content;
    margin: auto;
}
#Navbar > a:hover, #Navbar > div:hover{
    cursor: pointer;
    background-color: var(--grey-light);
}
#Navbar > a > img{
    height: 8vh;
}
#Navbar-Auth-Dropdown{
    position:absolute;
    right: -90%;
    top: 100%;
    width: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    background: var(--grey-dark);
    border-radius: 10px;
    padding: 5%;
    min-width: 200px;
    z-index: 2000;
}
#Navbar-Auth-Dropdown > * {
    color: white;
    padding: 5%;
    text-align: center;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    transition: 0.5s;
}
#Navbar-Auth-Dropdown > button {
    background: var(--white);
    color: var(--black);
    border: none;
}
#Navbar-Auth-Dropdown > button:hover{
    color: var(--white);
}
#Navbar-Auth-Dropdown > *:hover{
    background: var(--black);
}
.disappearToTop{
    animation-name: disappearToTop;
    animation-duration: 1.3s;
}
#Navbar-Logo-Container{
    position: sticky; 
    z-index: 1000;
    top: 41px;
    padding-left: 2.5vw;
    height: 0;
    width: 95%;
}
#Navbar-Logo{
    width: fit-content;
    display: block;
    position: absolute;
    z-index: 1000;
    transition: 1.3s;
    left:4%;
    transform: translateX(0vw);
    text-align: left !important;
}
#Navbar-Logo:hover{
    background: linear-gradient(180deg, var(--high-gradient-blue), var(--high-gradient-red));
    background-clip:text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.Logo{
    background: linear-gradient(180deg, var(--gradient-blue), var(--gradient-red));
    background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: "Inter";
    font-size: 2.5rem;
    text-decoration: none !important;
    font-weight: bold;
    text-align: left;
}
/* #Navbar-Logo > img{
    height: 10vh;
    aspect-ratio: 1/1;
} */
#Navbar-Auth-Icon{
    transition: transform 0.5s;
    height: 60px;
    aspect-ratio: 1/1;
}
#Navbar-Auth-Icon:hover {
    transform: scale(1.1);
}