#ResetPasswordForm{
    display: flex;
    background: var(--grey-light);
    padding: 2%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
#ResetPasswordForm > *{
    border-radius: 10px;
    height: 10vh;
    max-height: 200px;
    border: none;
    transition: 0.5s;
}
#ResetPasswordForm > button{
    background: var(--grey-dark);
    color: var(--white);
    margin-left: 5%;
}
#ResetPasswordForm > button:hover{
    background: var(--white);
    color: var(--black);
}